<h1>Estudiantes</h1>

<app-button texto="Agregar estudiante" (presionado)="abrirFormularioNuevo()">
</app-button>

@if (mostrarFormulario) {
<app-formulario-estudiante 
    [estudianteEditar]="estudianteSeleccionado"
    (estudianteGuardado)="finalizarGuardado()">
</app-formulario-estudiante>
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Matrícula</th>
            <th>Carrera</th>
            <th>Semestre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
       @for (estudiante of estudiantes(); track estudiante.id) {
        <tr>
            <td>{{ estudiante.id }}</td>
            <td>{{ estudiante.nombre }} {{ estudiante.apellido }}</td>
            <td>{{ estudiante.matricula }}</td>
            <td>{{ estudiante.carrera }}</td>
            <td>{{ estudiante.semestre }}</td>
            <td>{{ estudiante.correo }}</td>
            <td>
                <app-button texto="Editar" (presionado)="seleccionarParaEditar(estudiante)">
                </app-button>
            </td>
        </tr>
        }
    </tbody>
</table>